.menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    gap: 0.5rem;



    .value {
        background-color: #E5E7EB;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
        color: #374151;
        transition: all 0.3s ease-in-out;
        margin-right: 0.8rem;
    }

    &:hover {
        // background-color: #E5E7EB;
        // border-radius: 5px;
        // transition: all 0.2s ease-in-out;

        .value {
            background-color: #93ade5;
            color: white;
            transition: all 0.3s ease-in-out;
        }

    }
}