.card {
    padding: 2em;
    border: 1px solid #eaeaea;
    max-width: fit-content;

    .modal-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .postBtns {
        display: flex;
        gap: 0.5rem;

        .delete {
            background-color: red;
        }
    }
}